 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/gfgffg.jpg");
  background-position: 50% 50%;
  min-height: 797px;
}

.u-section-1 .u-text-1 {
  margin: 225px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 370px);
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin-top: 2px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 677px;
  margin: -137px auto 0 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  margin: -644px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 586px);
}

.u-section-1 .u-btn-5 {
  font-size: 1.25rem;
  margin: 98px calc(((100% - 1140px) / 2)) 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 0 calc(((100% - 1140px) / 2)) 60px calc(((100% - 1140px) / 2) + -100px);
}

.u-section-1 .u-btn-6 {
  margin-top: 2px;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 538px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 170px);
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 558px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -525px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 386px);
  }

  .u-section-1 .u-btn-5 {
    margin-top: 226px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 5.07% 50%;
    min-height: 407px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 221px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 427px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.75rem;
    margin-top: -390px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 166px);
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 14.12% 50%;
    min-height: 383px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 247px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 403px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    font-size: 2.125rem;
    margin-top: -424px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-top: 202px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}